@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }

  a {
    @apply text-sky-400 hover:text-sky-300;
  }
}
